---
import Bio from "../components/Home/Bio.astro";
import Social from "../components/Home/Social.astro";
import TextSection from "../components/Home/TextSection.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Agustin Aon">
  <main class="flex flex-col">
    <div class="mt-10 flex">
      <TextSection
        title="About"
        content="I'm a backend engineer with a passion for technology. With over 2 years of experience as a software developer, I have a proven track record of delivering high-quality software solutions. I am constantly seeking opportunities to grow and improve as a developer, and I am always looking for new challenges to tackle."
      />
    </div>
    <div class="mt-10 flex">
      <Bio
        content={[
          {
            year: "1996",
            description: "Born in Mar del Plata, Argentina",
          },
          {
            year: "2020",
            description: "Participated in Techint's summer internship program",
          },
          {
            year: "2021",
            description: "Graduated with a degree in Electronics Engineering",
          },
          {
            year: "2021",
            description:
              "Worked as Digital Design Engineer at Marvell Technology",
          },
          {
            year: "2022",
            description: "Employed as Full Stack Developer at Duollar",
          },
          {
            year: "2022 - now",
            description: "Working as Blockchain Developer at Coinfabrik",
          },
        ]}
      />
    </div>
    <div class="mt-10 flex">
      <Social />
    </div>
  </main>
</Layout>
