---
import Bio from "../components/Home/Bio.astro";
import Social from "../components/Home/Social.astro";
import TextSection from "../components/Home/TextSection.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Agustin Aon">
  <main class="flex flex-col">
    <div class="mt-10 flex">
      <TextSection
        title="About"
        content="I'm a backend engineer with a deep passion for tech. With over 3 years of experience working in software, I have a proven track record of delivering high-quality solutions. As a developer, I am dedicated to continually improving and learn ing new skills and I'm always seeking opportunities to tackle new challenges."
      />
    </div>
    <div class="mt-10">
      <Bio
        content={[
          {
            year: "1996",
            description: "Born in Mar del Plata, Argentina",
          },
          {
            year: "2015",
            description: "Began studying Electronics Engineering at UNMDP",
          },
          {
            year: "2019",
            description:
              "Started my final project at LIC (Instruments and Control Laboratory)",
          },
          {
            year: "2020",
            description: "Participated in Techint's summer internship program",
          },
          {
            year: "2021",
            description: "Graduated with a degree in Electronics Engineering",
          },
          {
            year: "2021",
            description:
              "Worked as Digital Design Engineer at Marvell Technology",
          },
          {
            year: "2022",
            description: "Employed as Full Stack Developer at Duollar",
          },
          {
            year: "2022 - now",
            description: "Working as Blockchain Developer at Coinfabrik",
          },
        ]}
      />
    </div>
    <div class="mt-10">
      <Social />
    </div>
  </main>
</Layout>
