---
import cn from "classnames";
import SectionTitle from "./SectionTitle.astro";

export interface Props {
  class?: string;
  content: { year: string; description: string }[];
}

const { class: className, content } = Astro.props;
---

<div>
  <SectionTitle title="Bio" />
  <div class={cn("grid grid-cols-[auto_auto] gap-4", className)}>
    {
      content.map(({ year, description }) => (
        <>
          <p class="font-bold">{year}</p>
          <p>{description}</p>
        </>
      ))
    }
  </div>
</div>
