---
import SectionTitle from "./SectionTitle.astro";

export interface Props {
  class?: string;
  title: string;
  content: string;
}

const { class: className, title, content } = Astro.props;
---

<div class:list={["flex flex-col", className]}>
  <SectionTitle title={title} />
  <p>{content}</p>
</div>
