---
export interface Props {
  class?: string;
  id?: string;
  href: string;
}

const { class: className, href, id } = Astro.props;
---

<a href={href} class:list={["hover:underline", className]} id={id}>
  <slot />
</a>
