---
import NavbarLink from "./NavbarLink.astro";
---

<nav class="flex w-full justify-center space-x-5 py-4 backdrop-blur">
  <NavbarLink href="/">Home</NavbarLink>
  <NavbarLink href="/">Projects</NavbarLink>
  <NavbarLink href="/">Contact</NavbarLink>
</nav>
