---
import cn from "classnames";

export interface Props {
  class?: string;
  href: string;
}

const { class: className, href } = Astro.props;
---

<a href={href} class={cn("hover:underline", className)}>
  <slot />
</a>
